.center-title {
  padding: 2rem;
  font-weight: 600;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  width: 100%;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;

  /* display: grid;
  grid-template-columns: repeat(auto-fill, 8rem);
  grid-gap: 10rem;
  justify-content: space-between;
  margin: auto; */
}

/* .card-wrapper::after {
  content: '';
  flex: auto;
} */

.card-div {
  width: 18rem;
  padding: 5px;
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-size: larger;
}
